  def test_{{test_description}}
    {{skipping}}
    {{exercise_namespace}} = {{ExerciseNamespace}}.new({{input-score}})
    assert {{exercise_namespace}}.{{property_name}}({{input-item}}), "Tom is allergic, but it says he's not."
  end
