  def test_{{test_description}}
    {{skipping}}
    {{exercise_namespace}} = {{ExerciseNamespace}}.new({{input-score}})
    refute {{exercise_namespace}}.{{property_name}}({{input-item}}), "Tom is not allergic, but it says he is."
  end
