  def test_{{test_description}}
    {{skipping}}
    message = {{input-msg}}
    expected = {{expected}}
    assert_equal expected, {{ExerciseNamespace}}.{{property_name}}(message, {{input-rails}})
  end
