  def test_{{test_description}}
    {{skipping}}
    {{exercise_namespace}} = {{ExerciseNamespace}}.new({{input}})
    expected = {{expected}}
    assert_equal expected, {{exercise_namespace}}.{{property_name}}
  end
