  def test_{{test_description}}
    {{skipping}}
    set = {{ExerciseNamespace}}.new {{input-set}}
    expected = {{ExerciseNamespace}}.new {{expected}}
    assert_equal expected, set.{{property_name}}({{input-element}})
  end
