  def test_{{test_description}}
    {{skipping}}
    set1 = {{ExerciseNamespace}}.new {{input-set1}}
    set2 = {{ExerciseNamespace}}.new {{input-set2}}
    expected = {{ExerciseNamespace}}.new {{expected}}
    assert_equal expected, set2.{{property_name}}(set1)
  end
