require 'minitest/autorun'
require_relative 'all_your_base'

# Common test data version: <%= abbreviated_commit_hash %>
class AllYourBaseTest < Minitest::Test<% test_cases.each do |test_case| %>
  def <%= test_case.test_name %>
    <%= test_case.skipped %>
<%= test_case.workload %>
  end
<% end %>

<%= IO.read(XRUBY_LIB + '/bookkeeping.md') %>
  def test_bookkeeping
    skip
    assert_equal <%= version %>, BookKeeping::VERSION
  end
end
