  def test_{{test_description}}
    {{skipping}}
    clock1 = {{ExerciseNamespace}}.new(hour: {{input-clock1-hour}}, minute: {{input-clock1-minute}})
    clock2 = {{ExerciseNamespace}}.new(hour: {{input-clock2-hour}}, minute: {{input-clock2-minute}})
    assert_equal clock1, clock2
  end
