#!/usr/bin/env ruby
# encoding: utf-8

require 'minitest/autorun'
require_relative 'alpha'

# Common test data version: <%= sha1 %>
class AlphaTest < Minitest::Test<% test_cases.each do |test_case| %>
  def <%= test_case.name %>
    <%= test_case.skip %>
    string = '<%= test_case.input %>'
    <%= test_case.assertion %> Alpha.something?(string)
  end
<% end %>
<%= IO.read(XRUBY_LIB + '/bookkeeping.md') %>
  def test_bookkeeping
    skip
    assert_equal <%= version.next %>, BookKeeping::VERSION
  end
end
