name: GeneratorTests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-generator-templates:
    name: Check Generator Templates
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Verify templates
        run: bundle exec ./bin/generate --verify
  test-generator:
    name: Test Generator
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
      - name: Set up Ruby
        uses: ruby/setup-ruby@8d27f39a5e7ad39aebbcbd1324f7af020229645c
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test:generator
