name: GeneratorTests

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test-generator-templates:
    name: Check Generator Templates
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Verify templates
        run: bundle exec ./bin/generate --verify
  test-generator:
    name: Test Generator
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
      - name: Set up Ruby
        uses: ruby/setup-ruby@d5126b9b3579e429dd52e51e68624dda2e05be25
        with:
          ruby-version: "3.3"
          bundler-cache: true
      - name: Run tests
        run: bundle exec rake test:generator
